<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
<h2><i>WE CAN HELP YOU ,IF YOU WANT TO </i></h2>
</p>
<ul><i><h3>
    <li style="color:blue"> Secure Top Grades/Marks in Exams</li>
    <li style="color:blue">Crack the toughest Aptitude tests/Interviews and get placed in Top MNC's</li>
    <li style="color: blue">Pass in difficult Academic subjects</li>
    <li style="color: blue"> Clear backlog subjects(If you have any)</li>
</h3></i></ul>
<p><i><b><h2>GET IN TOUCH WITH US NOW-WE CAN HELP YOU EXCEL IN ACADEMICS & JUMPSTART YOUR CAREER...</h2></b></i></p>
<ul>
    <li><i><h3><p style ="color:blue">All our faculties are experienced post graduates in <b style="color:orangered">Commerce,Management and Engineering</b></h3></i></p></li>
    <li><i><h3><p style="color:blue"><b style="color: orangered"> EXCEED COACHING ACADEMY</b> offers excellent coaching/tuition's for the following streams</h3></i></p></li>
</ul>
<a href="https://ibb.co/Qn6ygsm"><img src="https://i.ibb.co/6b4jM6s/bba.png" alt="bba" border="0" width="950" height="500"></a>
<a href="https://ibb.co/9v2wJBf"><img src="https://i.ibb.co/DbkGNm6/image.jpg" alt="image" ></a>
<!--<style>
    table, th, td {
        border: 2px ;
        border-collapse: collapse;
        border-spacing: 15px;
    }
    th, td {
        padding: 10px;

    }

</style>

    <table >
        <colgroup>
            <col span="" style="background-color:hotpink">
            <col span="" style="background-color:deepskyblue">
            <col span="" style="background-color:hotpink">


        </colgroup>

          <tr><th >BCA/BBA/BCOM</th> <!--<th>BBA</th><th>BCOM</th></tr>
          <tr><td>1<sup>st</sup> sem/2<sup>nd </sup>sem</td><!--<td>1<sup>st</sup> sem/2<sup>nd</sup> sem</td><td>1<sup>st</sup> sem/2<sup>nd</sup> sem</td></tr>
          <tr><td>3<sup>rd </sup>sem/4<sup>th </sup>sem</td><!--<td>3<sup>rd</sup> sem/4<sup>th </sup>sem</td><td>3<sup>rd </sup>sem/4<sup>th</sup> sem</td></tr>
         <tr><td>5<sup>th</sup> sem /6<sup>th</sup> sem</td><!--<td>5<sup>th</sup> sem /6<sup>th</sup> sem</td><td>5<sup>th</sup> sem /6<sup>th </sup>sem</td></tr>
        <tr><td>Projects</td><!--<td>Projects</td><td>Projects</td></tr>
        <tr><td>Placement Training/Assistance</td><!--<td>Placement Training/Assistance</td><td>Placement Training/Assistance</td></tr>
    </table>-->

 </body>
</html>