<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/6P8Vncf/exceed.png" alt="exceed" border="0"></a><br />
<p style="color: red">
     <i>We will help you to excel in academics!!
    Whether your aim is to secure top grades or just to pass difficult subjects or clear backlog subjects,<b>EXCEED COACHING ACADEMY</b>
        can help you achieve your goals</i>
</p>
<p style ="color:blue"><i>All our faculty are experienced post graduates in <b>Commerce,Management and Engineering</b></i></p>
<p style="color:green"><i><b> EXCEED COACHING ACADEMY</b> offers excellent coaching/tuition's for the following streams</i></p>
<style>
    table, th, td {
        border: 2px ;
        border-collapse: collapse;
        border-spacing: 15px;
    }
    th, td {
        padding: 10px;

    }

</style>

<marquee width="100%" behavior="alternate">
<table >
    <colgroup>
        <col span="" style="background-color:pink">
        <col span="" style="background-color:deepskyblue">
        <col span="" style="background-color:orange">


    </colgroup>
    <tr><th style ="color:blue">BCA</th><th>BBA</th><th>BCOM</th></tr>
    <tr><td>1st sem/2nd sem</td><td>1st sem/2nd sem</td><td>1st sem/2nd sem</td></tr>
    <tr><td>3rd sem/4th sem</td><td>3rd sem/4th sem</td><td>3rd sem/4th sem</td></tr>
    <tr><td>5th sem /6th sem</td><td>5th sem /6th sem</td><td>5th sem /6th sem</td></tr>
    <tr><td>Projects</td><td>Projects</td><td>Projects</td></tr>
    <tr><td>Placement Training/Assistance</td><td>Placement Training/Assistance</td><td>Placement Training/Assistance</td></tr>
</table>
    </marquee>
</body>


</html>