<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <h2>Dear Job Seeker</h2>

    <p>please make useful of this seminar for your career growth</p>

    <img src="https://preview.ibb.co/gq2SRU/image1.jpg" alt="image1" width="300" height="300" border="0">
    <img src="https://preview.ibb.co/bybAfp/image2.jpg" alt="image2" width="300" height="300" border="0">
    <img src="https://preview.ibb.co/ixfgmU/image3.jpg" alt="image3" width="300" height="300" border="0">
    <img src="https://preview.ibb.co/b9FE6U/image4.jpg" alt="image4" width="300" height="300" border="0">
<br>
    <br>

    <div class="row">
        <a href="mailto:exceeditacademy18@gmail.com?
subject= yes i am intrested joining the course &amp;
body=The%20body%20of%20the%20email">
            <button style="
            display: inline-block;
  padding: 6px 12px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  background-color:#4BF7DB  ;
  border: 1px solid #2d7bf4;"

            >Yes i'm interested joining the course</button>
        </a>

        <a href="mailto:exceeditacademy18@gmail.com?
subject=Yes intrested,further info required&amp;
body=The%20body%20of%20the%20email">
            <button style="
            display: inline-block;
  padding: 6px 12px;
  margin-bottom: 16px;
   margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  background-color: #9BFF4D;
  border: 1px solid #2d7bf4;">Yes intrested,further info required</button>
        </a>

        <a href="mailto:exceeditacademy18@gmail.com?
subject=I am intrested in other IT training&amp;
body=The%20body%20of%20the%20email">
            <button style ="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 16px;
   margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  background-color: #F490CD  ;
  border: 1px solid #2d7bf4;">I am intrested in other IT training</button>
        </a>
    </div>

</div>
</body>
</html>
