<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <p>

        Globally, the automotive sector is undergoing large scale changes due to advent of Electric vehicles, Hybrid vehicles and autonomous driving. Customers are constantly demanding newer and advanced features and automobile manufacturers are being forced to constantly upgrade or renew their offerings on a continuous basis.
        <br>
        <br>
        The Automotive manufacturers have an additional challenge of keeping in mind factors like passenger safety, vehicle road worthiness, pedestrian safety and adherence to various safety/pollution norms while designing / building the new features or bringing in feature enhancements. These developments have resulted  in a huge demand for software developers and testers in the Automotive domain.
        <br>
        <br>
        To address this growing demand, we at PASFEX TECHNOLOGIES have launched the following Industry Oriented and live scenario based training courses.
    <ol>
        <li> Automotive software tester CAN/UDS</li>
        <li>  Automotive Model based Developer</li>
    </ol>
    <br>
    The above courses can be taken up by
    <ul>
        <li>Software testers with 2-3 years experience and with knowledge of MATLAB, EMBEDDED C</li>
        <li> Software engineers who want to enter Automotive Domain.</li>
        <li> Fresh Engineers with B Tech/M Tech in ECE/EEE/Automobile/Embedded Systems/ Instrumentation/ Control systems Engg.</li>
    </ul>
    Please find enclosed the course brochures for both the courses.
<br>
    If you are interested in enrolling in the above courses, Please reply to us by clicking on the buttons below,
<br>
    Hurry up, limited seats are on offer!
<br>

    </p>
    <!-- <img src="https://preview.ibb.co/keV2Mp/Course1.jpg" alt="image1" width="800" height="500" border="0">
    <img src="https://preview.ibb.co/cKfcMp/Course2.jpg" alt="image2" width="800" height="500" border="0">
   <img src="https://preview.ibb.co/ixfgmU/image3.jpg" alt="image3" width="300" height="300" border="0">
    <img src="https://preview.ibb.co/b9FE6U/image4.jpg" alt="image4" width="300" height="300" border="0">-->
    <br>
    <br>

    <div class="row">
        <a href="mailto:info@pasfextech.com?
subject=YES, I AM INTERESTED IN ATTENDING THE AUTOMOTIVE SOFTWARE TESTER COURSE &amp;
body=The%20body%20of%20the%20email">
            <button style="
            display: inline-block;
  padding: 6px 12px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  background-color:#4BF7DB  ;
  border: 1px solid #2d7bf4;"

            >YES, I AM INTERESTED IN ATTENDING THE AUTOMOTIVE SOFTWARE TESTER COURSE</button>
        </a>

        <a href="mailto:info@pasfextech.com?
subject= YES, I AM INTERESTED IN ATTENDING THE AUTOMOTIVE MODEL BASED DEVELOPER COURSE&amp;
body=The%20body%20of%20the%20email">
            <button style="
            display: inline-block;
  padding: 6px 12px;
  margin-bottom: 16px;
   margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 4px;
  background-color: #9BFF4D;
  border: 1px solid #2d7bf4;">
                YES, I AM INTERESTED IN ATTENDING THE AUTOMOTIVE MODEL BASED DEVELOPER COURSE</button>
        </a>

        <!---    <a href="mailto:exceeditacademy18@gmail.com?
  subject=I am intrested in other IT training&amp;
  body=The%20body%20of%20the%20email">
              <button style ="display: inline-block;
    padding: 6px 12px;
    margin-bottom: 16px;
     margin-right: 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border-radius: 4px;
    background-color: #F490CD  ;
    border: 1px solid #2d7bf4;"></button>
          </a> --->
    </div>

</div>
</body>
</html>
